@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');

* {
  font-family: 'JetBrain Mono', monospace;
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  background-color: #FADCD9;
  color: #e8a392;
  font-family: Mont;
  font-size: 25px;
  display: grid;
  place-content: center;
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.profile {
  color: #F79489;
  position: relative;
  margin: 75px;
  font-weight: 700;
  text-align: center;
}

.profile img {
  border-radius: 50%;
}
ul {
  list-style-type: none;
}

li a::before {
  color: #e8a392;
  transform: scaleX(0);
  transform-origin: bottom right;
  content: ' ';
  display: block;
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  inset: 0 0 0 0;
  border: #d62828;
  border-radius: 5px;
  background: #d62828;
  z-index: -1;
  transition: transform .3s ease;
}

.zoom {
  margin: 0.5rem;
  transition: transform .2s;
}

.zoom:hover {
  transform: scale(1.1);
}

li a:hover::before, a:focus::before {
  border: #d62828;
  border-radius: 5px;
  transform: scaleX(1);
  transform-origin: bottom left;
}

li a {
  font-size: 3rem;
  margin: 10px;
  position: relative;
  color: #e8a392;
  border-radius: 10px;
  justify-content: center;
  text-decoration: none;
  display: grid;
}

@media (orientation: landscape) {
  li a {
    grid-auto-flow: column;
  }
}