@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@300;400&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: "JetBrains Mono", monospace;
    font-size: 20px;
    margin: 0;
    padding: 0;
}


.footer {
    left: 50%;
    top: 90%;
}

.footer img {
    background: none;
}

.transparency-fix {
    background: none;
}

.bio {
    left: 50%;
    top: 40%;
}

.projects {
    left: 80%;
    top: 40%;
}

.video {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
}

.video video {
    min-width: 100%; 
    min-height: 100%; 

    width: auto;
    height: auto;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}